// Variables
@import 'variables';

html, body {
  height: 100%
}

nav {
  img {
    height: auto;
    width: 50%;
  }

  .nav-link {
    color: $honey-color-second !important;
  }
}

main {
  img.mail-icon {
    height: auto;
    width: 20%;
  }
}

.navbar-toggler {
  border-color: $honey-color-second !important;
}

.container .container {
  color: $honey-color-first;
}

footer {
  height: 100px;
  background: #2a2d33 !important;

  img {
    height: auto;
    width: 20%;

  }

  .socials {
    height: auto !important;
    width: 15% !important;
  }

}

/*honey-style*/
.honey-style, .form-honey {
  background: $honey-color-first;
  color: $honey-color-second !important;
}

.honey-style-versa {
  background: $honey-color-second;
  color: $honey-color-first;
}

.btn-honey {
  background: #be393b;
  color: $honey-color-second;
}

.card-honey-1 {

  width: 33%;

  .card-header {
    background: $honey-color-first;
    color: white;
  }

  b {
    color: $honey-color-first;
  }
}

.card-honey-2 {

  width: 33%;

  .card-header {
    background: #58ad52;
    color: white;
  }

  b {
    color: #58ad52;
  }
}

.form-honey {
  border: 1px solid $honey-color-second;

  &:focus {
    border: 1px solid $honey-color-third;
    outline: none !important;
    background: $honey-color-first;
  }

  &:active {
    outline: none !important;
    background: $honey-color-first;
  }
}

/*honey-style*/

/*Correction*/
.form-control, .btn {
  &:focus {
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  }

  &:active {
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  }
}


.star {
  color: $honey-color-third;
}

.w-45 {
  width: 45%;
}

#flashMsg {
  bottom: 20px;
  right: 10px;
  position: fixed;
  z-index: 9999;
  padding: 10px;
  text-align: center;
  background: $honey-color-first;
  color: $honey-color-second;
}

.hide {
  display: none;
}
